{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<div class="table_decoration">
  <form method="POST" action="">
    {% csrf_token %} {{form|crispy}}
    <input type="submit" value="Search" />
  </form>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th>COUNT</th>
        <th>CATEGORY</th>
        <th>ITEM NAME</th>
        <th>QUANTITY IN STORE</th>
        <th>Date Created</th>
        <th>Last Updated</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for instance in queryset %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{instance.category}}</td>

      <td>
        <a href="{% url 'update_items' instance.id %}"
          >{{instance.item_name}}</a
        >
      </td>
      <td>
        <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
      </td>
      <td>{{instance.timeCreated}}</td>
      <td>{{instance.last_updated}}</td>
      {%load static %}
      <td>
        <a href="{% url 'delete_items' instance.id %}" style="color: red;"
          >Delete</a
        >
      </td>
    </tr>

    {% endfor %}
  </table>
</div>

{% endblock %}
